body
{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: normal;

    width: 100%;
    margin: 0 auto;
}

#intro
{
    height: auto;

    background: url(../img/banner.png) no-repeat;
    background-position: center;
    background-size: cover;
    background-size: 100% 100%;
}

.intro-text
{
    margin: 0 auto;
    padding: 179px 0 43px 0;

    text-align: center;
}

.intro-text h1
{
    font-family: 'Montserrat', sans-serif;
    font-size: 8.6vw;

    width: 54%;
    margin: 0 auto;

    color: white;
}

.intro-text h2
{
    font-family: 'Kaushan Script', cursive;
    font-size: 72px;

    width: 50%;
    margin: 0 auto;
    margin-bottom: 43px;

    color: white;
}

#what-we-do hgroup h3
{
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: bold;

    padding: 0 auto 41px auto;
}

#what-we-do hgroup h4
{
    font-family: 'Kaushan Script', cursive;
    font-size: 21px;

    padding: 91px 0 24px 0;
}

.floatL
{
    float: left;
}

.clearfix
{
    display: block;
    clear: both;

    content: '';
}

.img-container
{
    width: 100%;
}

div.text-center img
{
    padding: 0 14px 0 0;
}

nav
{
    width: 70%;
    height: 50px;
    margin: 0 auto;
}

.floatL
{
    float: left;
}

#nav
{
    width: 60%;
}

#logo
{
    width: 40%;
}

#logo a
{
    font-size: 20px;
    font-weight: bold;

    display: inline-block;

    width: 2%;
    padding: 29px 0 0 2px;

    text-decoration: none;

    color: white;
}

nav ul li
{
    float: left;

    padding: 40px 0 0 57px;

    color: #fff;
}

nav a
{
    text-decoration: none;

    color: #fff;
}

#intro ul li a:hover
{
    padding-bottom: 12px;

    color: #ffe790;
    border-bottom: 3px solid #ffe790;
}


.btn-more
{
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    font-weight: bold;

    width: 160px;
    height: 40px;
    padding: 9px 30px;

    cursor: pointer;

    color: #fff;
    border: 3px solid #fff;
    background-color: rgba(0,0,0,0);
}

.second-navigation
{
    width: 50%;
    margin: 157px auto 0 auto;
    padding: 0 0 28px 5px;
}

.second-navigation li
{
    font-size: 13px;

    position: relative;

    float: left;

    width: 280px;
    margin-right: 30px;
    padding-top: 25px;
    padding-left: 5px;

    text-align: left;

    color: #fff;
    border-top: 3px solid #fff;
}

.second-navigation i
{
    position: absolute;
    top: -3px;
    left: 0;

    width: 70px;
    height: 3px;

    background-color: #f38181;
}

.second-navigation span
{
    font-size: 14px;
    font-weight: 900;
}

.litte-w-dash
{
    width: 60px;
    height: 3px;
    margin: 71px auto 50px auto;

    background-color: #fff;
}

.little-rdash
{
    width: 59px;
    height: 3px;
    margin: 41px auto 47px auto;

    background-color: #ef847b;
}


#what-we-do
{
    width: 100%;
    height: auto;
    margin: 0 auto;
}

.grey-text
{
    width: 38%;
    margin: 104px auto 104px auto;

    color: #999;
}


#about-us
{
    height: 225px;

    background: #94e7d6;
}

.turquesaBg
{
    width: 100%;
    height: 270px;
    margin-top: 111px;

    background-color: #95e1d3;
    /*margin: 110px 0px 109px 0px;*/
}

.container-data div
{
    display: inline-block;

    width: 15%;
    padding-top: 2%;
}

.container-data
{
    width: 60%;
    margin: 0 auto;
}

.turquesaBg p:first-child
{
    font-family: 'Montserrat', sans-serif;
    font-size: 72px;
    font-weight: bold;

    color: #fff;
    /*padding: 89px 69px 0px 78px;*/
}

.turquesaBg p
{
    font-family: 'Montserrat', sans-serif;

    padding-top: 29px;

    text-align: center;

    color: #fff;
}

.text-center
{
    text-align: center;
}

#services
{
    width: 100%;
    height: auto;
}


#services h4
{
    font-family: 'Kaushan Script', cursive;
    font-size: 24px;

    margin-top: 109px;
    margin-bottom: 23px;
}

#services hgroup h3
{
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-weight: bold;
}

.icons
{
    width: 47%;
    margin: 66px auto 125px auto;
}

.icons div
{
    position: relative;

    display: inline-block;

    width: 30%;
    margin-right: 20px;
    margin-bottom: 52px;
}

.icons li
{
    margin-left: 60px;
}

.icons li:first-child
{
    position: absolute;
    top: 0;
    left: 0;

    margin-left: 0;
}

.icons ul li i
{
    color: #95e1d3;
}

.icons  h3
{
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;

    margin-bottom: 20px;
}

.icons p
{
    font-family: 'Roboto', sans-serif;
    font-size: 15px;

    color: #999;
}

.sprite
{
    display: block;

    background-image: url(../img/sprite-icons.png);
    background-repeat: no-repeat;
}

.sprite-photography
{
    width: 32px;
    height: 31px;

    background-position: -3px -2px;
}

.sprite-web-design
{
    width: 33px;
    height: 32px;

    background-position: -45px -1px;
}

.sprite-creativity
{
    width: 32px;
    height: 28px;

    background-position: -87px -3px;
}

.sprite-seo
{
    width: 32px;
    height: 32px;

    background-position: -126px -1px;
}

.sprite-css-html
{
    width: 32px;
    height: 31px;

    background-position: -168px -1px;
}

.sprite-digital
{
    width: 32px;
    height: 32px;

    background-position: -206px -1px;
}
